[submodule "selection_screen_tools"]
	path = selection_screen_tools
	url = https://github.com/osipovarev/selection_screen_tools
[submodule "rnaseq_tools"]
	path = rnaseq_tools
	url = https://github.com/osipovarev/rnaseq_tools
