[submodule "Transcriptome_for_NectarGenomics"]
	path = Transcriptome_for_NectarGenomics
	url = https://github.com/osipovarev/Transcriptome_for_NectarGenomics
[submodule "absrel"]
	path = absrel
	url = https://github.com/osipovarev/absrel
[submodule "#"]
	path = "#"
	url = https://github.com/osipovarev/Assembly_and_annotation
[submodule "Assembly_and_annotation"]
	path = Assembly_and_annotation
	url = https://github.com/osipovarev/Assembly_and_annotation
