#!/usr/bin/env nextflow

params {
  config_profile_description = 'Maggie gwdg config'
  config_profile_contact = 'mcko@orn.mpg.de'
}

executor {
    $local {
        queueSize = 10
    }
    $slurm {
        queue = 'medium'
        queueSize = 50
        pollInterval = '2 min'
        queueStatInterval = '5 min'
        submitRateLimit = '6/1min'
        retry.maxAttempts = 1
    }
}

process {
    executor = 'slurm'
    queue = 'medium'
    memory = '4 GB'
    time = '60 min'
    cpus = 2
}

profiles {
    gwdglocal {
        process.executor = 'local'
        process.cache = 'lenient'
    }

    gwdg {
        process {
            executor = 'slurm'
            maxRetries = 2

            clusterOptions = ' -C "scratch" '
            clusterOptions = ' -o log_nf_%A.out '
            clusterOptions = ' -e log_nf_%A.err '

            scratch = '/scratch/users/${USER}/$SLURM_JOBID'

            stageInMode = 'symlink'
            stageOutMode = 'rsync'

            cache = 'lenient'
     }
        timeline.enabled = true
        report.enabled = true
        trace.enabled = true
    }
}
